html{
	background-color: #00D950;
}
p{
	font-family: Arial Black;
	background-color: white;
	font-size: 40px
}
h1{
	font-family: Arial Black;
	background-color: white;
	font-size: 52px
}
body{
	padding: 0;
	margin: 0;
}
.menu {
	list-style: none;
	margin: 0;
	padding-left: 0;
    background-color: white;	
}
.menu li{
	display: inline;
}
.menu a{
	text-decoration: none;
	font-family: Arial Black;
	padding: 10px, 20px;
	margin: 20px;
	color: grey;
	font-size: 40px;
}

.menu a:hover{
	color:black;
}
h2{
	font-family: Arial Black;
	background-color: white;
	font-size: 52px;
}
.small{
	font-size: 24px;
}
form{
	font-family: Arial Black;
	font-size: 33px;
	background-color: white;
}
button{
	font-family: Arial Black;
	font-size: 33px;
}
h3{
	font-family: Arial Black;
	background-color: white;
	font-size: 38px;
}
.rlly{
	font-size: 18px;
	color: silver;
}
input{
	font-family: Arial Black;
	font-size: 33px;
	background-color: white;
}
header{
    background-color: white;
}
img{
	width: 256px;
	height: 128px;
}
marquee{
	background-color: white;
    font-family: Arial Black;
	font-size: 33px;
}